<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
		
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
	<appender name="file" class="org.apache.log4j.RollingFileAppender"> 
    	<param name="file" value="${catalina.home}/logs/dstoolkit.log"/>
    	<param name="MaxFileSize" value="10000KB"/>
    	<!-- Keep five backup file -->
    	<param name="MaxBackupIndex" value="5"/>
    	<layout class="org.apache.log4j.PatternLayout"> 
      		<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/> 
    	</layout> 
  	</appender>
    <logger name="dstoolkit">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.orm.jpa">
        <level value="debug" />
    </logger>
    <logger name="org.springframework">
        <level value="info" />
    </logger>
    <logger name="org.hibernate">
        <level value="info" />
    </logger>
	<logger name="org.hibernate.hql.ast.AST">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="debug" />
	</logger>
	<logger name="org.hibernate.type">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.hql">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.cache">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.transaction">
		<level value="debug" />
	</logger>
	<logger name="org.hibernate.jdbc">
		<level value="debug" />
	</logger>
	<logger name="org.dozer.MappingProcessor">
		<level value="info" />
	</logger>
	<logger name="com.mchange.v2.c3p0">
		<level value="info" />
	</logger>
    <root>
        <priority value="debug" />
        <appender-ref ref="console" />
		<appender-ref ref="file" />
    </root>
</log4j:configuration>


